@import "./variables.scss";
@import "./dafault.scss";
@import "./form.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: $tablet_vertical) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
